.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
}

.form__control {
    margin: 15px 0;
}

.form label {
    font-size: 18px;
    color: #fff;
}

.msg {
    color: #fff;
    font-size: 16px;
}

.resgiter-link {
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
}

